

body {
  
  font-size: 16pt;

}

#nestedGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  border: 3px solid white;
  grid-gap: 15px;
}

.postCard {
  width: 390px;
  height: 250px;
  border: 1 solid red;
  background: #F9FA4D;
}

/* Media Query and Responsive Design for Desktop Browser */
.container {
  display: grid;
  width: 90vw;
  /* height: 100vh; */
  margin: auto;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 650px 100px;
  /* grid-gap: 5px; */
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "main main main main main main main sd"
  "ft ft ft ft ft ft ft ft";
  border: 2px solid yellow;
  /* This aligns items to the end line on main-axis */
  /* justify-content: center; */ 
}


.box {
   display: flex;
   margin-top: 20px;
  /* align-items: center; 
   justify-content: center; */
   border: 1px solid red;
   background: #F8FA9D;
   /* padding: 15px; */
}

.header {
  grid-area: hd;
}

.footer {
  grid-area: ft;

}

.sidebar {
  grid-area: sd;
}

.content {
  grid-area: main;
  
}

.listPost,
.listPost ul,
.listPost li {
  display: block;
  margin: 10% auto;
  list-style-type: none;
  text-decoration: none;
  
  
}


#one,
#two,
#three {
  /*display: grid;*/
  margin: 10% 10%;
}
#four,
#five,
#six
 {
  /*display: grid;*/
  margin: 3% 10%;
  
}

















  
  /* Media Query and Responsive Design for Medium Size Screens up to 800px 
  @media all and (max-width: 800px) {
    .container {
      /* When on medium sized screens, we center it by evenly distributing empty space around items 
      justify-content: space-around;
    }
  }
  
  /* Media Query and Responsive Design for Small Size Screens including mobile devices up to 500px 
  @media all and (max-width: 500px) {
    .container {
      /* On small screens, we are no longer using row direction but column 
      flex-direction: column;
    }
  }
  */