

body {
  
  font-size: 16pt;

}


/* Media Query and Responsive Design for Desktop Browser */
.container {
  display: grid;
  width: 90vw;
  height: 100vh;
  margin: auto;
  grid-template-columns: 35vw 35vw;
  grid-template-rows: 45vh 45vh;
  grid-gap: 15px;
  grid-template-areas: 
  "top top"
  "bottomLeft bottomRight";
  border: 2px solid blue;
  /* This aligns items to the end line on main-axis */
  justify-content: center; 
}


.box {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid red;
   padding: 15px;
}

.blogHeader {
  height: 100px;
}

.postCards {
  width: 50%;
}

#one { grid-area: top; }
#two { grid-area: bottomLeft; }
#three { grid-area: bottomRight; } 
#four { grid-area: bottomRight; }
#five { grid-area: bottomRight; }
#six { grid-area: bottom; }

footer {
  

}













  
  /* Media Query and Responsive Design for Medium Size Screens up to 800px 
  @media all and (max-width: 800px) {
    .container {
      /* When on medium sized screens, we center it by evenly distributing empty space around items 
      justify-content: space-around;
    }
  }
  
  /* Media Query and Responsive Design for Small Size Screens including mobile devices up to 500px 
  @media all and (max-width: 500px) {
    .container {
      /* On small screens, we are no longer using row direction but column 
      flex-direction: column;
    }
  }
  */