/* Media Query and Responsive Design for Desktop Browser */
.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
  }
  
  /* Media Query and Responsive Design for Medium Size Screens up to 800px */
  @media all and (max-width: 800px) {
    .navigation {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Media Query and Responsive Design for Small Size Screens including mobile devices up to 500px */
  @media all and (max-width: 500px) {
    .navigation {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }













.information { grid-area: article; }
.main { grid-area: main; }
.avatar { grid-area: right; }
.menuButton { grid-area: menu; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer'
    'article';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
