
/********************************** PAGE CSS ***********************************/

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16pt;

}

.container {
  display: grid;
  width: 90vw;
  height: 100vh;
  margin: auto;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 80% 90px;     /* 650px */
  /* grid-gap: 5px; */
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "main main main main main main sd sd"
  "ft ft ft ft ft ft ft ft";
  border: 2px solid yellow;
  /* This aligns items to the end line on main-axis */
  /* justify-content: center; */ 
}

.box {
  display: flex;
  margin-top: 20px;
 /* align-items: center; 
  justify-content: center; 
  border: 2px solid red;*/
  background: white;
 /*  background: #F8FA9D;
  padding: 15px; */
}

.header {
  grid-area: hd;
  justify-content: center;
  background: url(../images/blog-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 { 
  color: white; 
  font-size: 3.5em;
  margin-top: 5%;
  
}

#nestedGrid {
  display: inline-block;
  max-width: 98%;
  max-height: 100%;
  /* grid-template-columns: 100%;
  grid-template-rows: 100%; */
  border: 3px solid green;
  /* grid-gap: 15px; */
}

.sidebar {
  display: inline-block;
  max-width: 100%;
  border: 2px solid orange;
}

.content {
  grid-area: main;
  
}

/********************************** POST CARDS CSS ***********************************/

.postCard,
.postCard:hover {
  margin: 10px;
  transition: none;
  transform: none;
  border: 2px solid red;
  font-size: 0.88em;
  line-height: 1.6;
}

.postCard h1 {
  font-size: 2.7em;
  font-weight: bold;
}

.postCard i {
  font-size: 0.88em;
}

.blogPostHeading {
  
  width: 300px;
  height: 40px;
  text-align: center;
  border: 2px solid red;
}

#one {
  /*display: grid;*/
  margin: 0 auto;
}

.nextButton,
.homeButton {
  display: inline-block;
  margin-top: 10px;
  margin-left: 30%;
  margin-right: -28%;  
  padding: 18px;
  border-radius: 10px;
  background-color: rgb(107, 175, 207);
  border: 1px solid lightblue;
}

.nextButton a,
.homeButton a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  color: azure;
  cursor: pointer;
}

.nextButton:hover,
.homeButton:hover {
  background-color: darkblue;
}

.comments {
  margin: 5px 10px 2px 10px;
}

.comments em { font-weight: bold; }

.listPost {
  margin: 30% 0;
  border: 1px solid black;
 
}

.listPost ul li { 
  list-style-type: none;
  text-align: center;
  width: 290px; 
}

.listPost ul li a {
  color: black;
  text-decoration: none;
  line-height: 1.6;
}

.listPost ul li a:hover {
  font-weight: bold;
  color: blue;
}

#one,
#two,
#three {
  /*display: grid;*/
  margin: 5% 5%;
}
#four,
#five,
#six
 {
  /*display: grid;*/
  margin: 3% 5%;
  
}

article {
  margin-top: -10px;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
}

.blogMembership { 
  /* padding: 15px; */
  height: 100px; 
  padding: 20px;
  margin-top: 200px;
  border: 2px solid blue; 
  /* text-align: center; */
}
.blogMembership a {
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


/********************************** FOOTER CSS ***********************************/

.footer {
  grid-area: ft;
  justify-content: center; 
  padding: 20px;
  background-color: blue;
  border: none;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 0.90em;
}

.footer a:hover {
  font-size: 1.0em;
}




  
  /* Media Query and Responsive Design for Medium Size Screens up to 800px 
  @media all and (max-width: 800px) {
    .container {
      /* When on medium sized screens, we center it by evenly distributing empty space around items 
      justify-content: space-around;
    }
  }
  
  /* Media Query and Responsive Design for Small Size Screens including mobile devices up to 500px 
  @media all and (max-width: 500px) {
    .container {
      /* On small screens, we are no longer using row direction but column 
      flex-direction: column;
    }
  }
  */