
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16pt;

}

#blogPostHeading { 
  margin: 25px 25%; 
  width: 500; 
  height: 80px; 
  border: 1px solid green;
  z-index: 3;
}

#nestedGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  border: 3px solid white;
  grid-gap: 15px;
}

.postCard {
  width: inherit;
  height: inherit;
  z-index: 3;
  background: white;
  
}

.postCard:hover {
  transition: none;
  transform: none;
}

.postCard h2, p, i {
  margin: 0 auto;
  padding: 5px;
}

.postCard i {
  margin: 0 auto;
  font-size: 0.80em;
}

.postCard p {
  margin: 0 auto;
  font-size: 0.90em;
}



/* Media Query and Responsive Design for Desktop Browser */
.container {
  display: grid;
  width: 90vw;
  /* height: 100vh; */
  margin: auto;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 780px 80px;
  /* grid-gap: 5px; */
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "main main main main main main main sd"
  "ft ft ft ft ft ft ft ft";
  border: 2px solid yellow;
  /* This aligns items to the end line on main-axis */
  /* justify-content: center; */ 
}


.box {
   display: flex;
   margin-top: 20px;
  /* align-items: center; 
   justify-content: center; 
   border: 1px solid red;*/
   background: white;
  /*  background: #F8FA9D;
   padding: 15px; */
}

.header {
  grid-area: hd;
  justify-content: center;
  background-image: url('../images/blog-background.png');
  background-position: stretch;
  background-repeat: none;
}

.header h1 { 
  color: white; 
  font-size: 3.5em;
  margin-top: 7%;
  
}

.footer {
  grid-area: ft;
  justify-content: center; 
  padding: 20px;
  background-color: blue;
  border: none;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 0.90em;
}


.sidebar {
  grid-area: sd;
}

.content {
  grid-area: main;
  
}

.listPost,
.listPost ul,
.listPost li a {
  display: block;
  margin: 10% auto;
  list-style-type: none;
  text-decoration: none;
  
  
}


#one {
  /*display: grid;*/
  margin: 0 auto;
}

.nextButton,
.homeButton {
  display: inline-block;
  margin-top: 10px;
  margin-left: 35%;
  margin-right: -28%;  
  padding: 18px;
  border-radius: 10px;
  background-color: lightblue;
  border: 1px solid lightblue;
}

.nextButton a,
.homeButton a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  color: azure;
  cursor: pointer;
}

.nextButton:hover,
.homeButton:hover {
  background-color: darkblue;
}

article {
  margin: 10px 35px;
  padding: 10px;
  width: 85%;
  align-items: center;
}

article p {
  margin-top: 15px;
  font-weight: bold;
}

.comments {
  margin: 10px;
}










  
  /* Media Query and Responsive Design for Medium Size Screens up to 800px 
  @media all and (max-width: 800px) {
    .container {
      /* When on medium sized screens, we center it by evenly distributing empty space around items 
      justify-content: space-around;
    }
  }
  
  /* Media Query and Responsive Design for Small Size Screens including mobile devices up to 500px 
  @media all and (max-width: 500px) {
    .container {
      /* On small screens, we are no longer using row direction but column 
      flex-direction: column;
    }
  }
  */